{% extends 'base.html' %}
{% load static %}

{% block content %}

   <div class="absolute">
        <div class="col-sm-15">
            <div class="row">
                
                    <div class="card col-sm-3" style="margin: 50px;"> 
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">이주현 (울산 센터)</h5>
                            <p class="card-text">아동 / 청소년 전문 상담가<br>Price: 70000</p>
                            <a href="/consultants/ed7297e6-68df-448f-b305-f361d4cdd68b/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;"> 
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">김수정 (울산 센터)</h5>
                            <p class="card-text">아동 / 청소년 전문 상담가<br>Price: 80000</p>
                            <a href="/consultants/7f2b83e8-f0e9-46c8-bcf0-da8b2ee1a53c/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">진세은 (창원 센터)</h5>
                            <p class="card-text">아동 / 청소년 전문 상담가<br>Price: 80000</p>
                            <a href="/consultants/418cebbc-8eb2-4398-a7b9-2f2bd28fa4f9/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">박승운 (강남 본점)</h5>
                            <p class="card-text">아동 / 청소년 전문 상담가<br>Price: 100000</p>
                            <a href="/consultants/a4071aca-7d08-4746-b432-2aa840dd32cc/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">한은겸 (울산 센터)</h5>
                            <p class="card-text">아동 / 청소년 전문 상담가<br>Price: 90000</p>
                            <a href="/consultants/740995ee-29d5-49f2-8711-248ed1d59c82/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">임시현 (창원 센터)</h5>
                            <p class="card-text">청소년 / 성인 전문 상담가<br>Price: 100000</p>
                            <a href="/consultants/6c52c5a4-1ad1-4c76-8e91-84647ecfa6be/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">이나윤 (창원 센터)</h5>
                            <p class="card-text">청소년 / 성인 전문 상담가<br>Price: 60000</p>
                            <a href="/consultants/d119447b-4ef2-45b2-a5dc-425c8f562941/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">김유라 (부산 센터)</h5>
                            <p class="card-text">청소년 / 성인 전문 상담가<br>Price: 70000</p>
                            <a href="/consultants/a370ea54-3b25-4986-9664-9d61284d6992/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
                    <div class="card col-sm-3" style="margin: 50px;">
                        
                            <img class="card-img-top" src="/media/businessman_1_9XgoLHn.png" alt="Card image cap">
                        
                        <div class="card-body">
                            <h5 class="card-title">이동현 (강남 본점)</h5>
                            <p class="card-text">청소년 / 성인 전문 상담가<br>Price: 70000</p>
                            <a href="/consultants/f5eab480-98d2-4e62-878d-0749b3442305/" class="btn btn-primary">상담하기</a>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="col-sm-12" style="text-align: center;">
            
                <a href="/consultants/pages/1/"
                   style="color: #7e5a8a;">
                    1
                </a>
            
                <a href="/consultants/pages/2/"
                   style="color:  white ">
                    2
                </a>
            
            </div>
        </div>
    </div></center>

   
</body>
</html>
{% endblock %}
