{% extends "base.html" %}

{% block title %}register.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}



<head>
<meta charset="UTF-8">
<title>시나브로 회원가입</title>
  
  
  <style>
  
 input, textarea, select, FORM
 {
   font-family:돋움;
   color: #7f7f7f;
  font-size:1em;
  border-radius:5px;
  
 }
 
  h1
 {
   font-family:돋움;
  font-size:2.2em;
  color: #7f7f7f;
  
 }
 
 table, FORM
 {
  border:5px solid rgba(0, 0, 0, );
  border-spacing:15px;
 }

  h, td, tr
 {
   font-family:맑은고딕;
  font-size:1em;
  color: #fff;
  
 }
   
  </style>


</head>
<body style="background-color:#2e243f">>
 <center>
 <h1> 회 원 가 입</h1>
 <table boder = "" bgcolor = "#2e243f" cellspacing = "1" >
 <FORM>
  <tr>

   <td text-align="center">아이디 </td>
   <td> 
   <input type = "text" />&nbsp
   <input type = "button" value = "중복확인"/>
   </td>
  </tr>



  <tr>
   <td> 비밀번호 </td>
   <td> <input type = "password"/> </td>
  </tr>


  <tr>
   <td> 비밀번호 확인 </td>
   <td> <input type = "password"/>&nbsp&nbsp; *비밀번호 확인을 위해 다시 한번 입력해주세요. </td>
  </tr>

  <tr>
   <td> 성명 </td>
   <td> <input type = "text"/> </td>
  </tr>

   <tr>
   <td> 주민번호 </td>
   <td> <input type = "text" size = "6"/> - <input type = "text" size = "7"/> </td>
  </tr>

  <tr>
   <td> 성별 </td>
   <td> 
    <input type = "radio" name = "gender"/ checked> 남자
    <input type = "radio" name = "gender"/> 여자
   </td>
  </tr>




  <tr>
   <td> 이메일 </td>
   <td>
    <input type = "text"/> @ <input type = "text"/> &nbsp;&nbsp; 
    <select>
     <option> 직접입력 </option>
     <option> naver.com </option>
     <option> daum.net </option>
     <option> nate.com </option>
	 <option> gmail.com </option>
	 <option> hanmail.net </option>
    </select>
   </td>
  </tr>




  <tr>
   <td> 주소 </td>
   <td>
    <input type = "text"/>&nbsp
    <input type = "button" value = "주소찾기"/>
   </td>
  </tr>
  <tr>
   <td> 상세주소 </td>
   <td>
    <input type = "text"/>
   </td>
  </tr>



  <tr>
   <td> 휴대폰 </td>
   <td> 
    <input type = "radio" name = "phone"/> SKT 
    <input type = "radio" name = "phone"/> KTF 
    <input type = "radio" name = "phone"/> LGU+
   <br/>
    <select>
     <option> 010 </option>
     <option> 011 </option>
     <option> 016 </option>
     <option> 018 </option>
    </select> 
    - <input type = "text" size = "6"/> - <input type = "text" size = "6"/>
   </td>
  </tr>




  <tr>
   <td> 관심상담분야  </td>
   <td>
    <input type = "checkbox"/> 성격
    <input type = "checkbox"/> 인간관계
    <input type = "checkbox"/> 학업
    <input type = "checkbox"/> 가족
    <input type = "checkbox"/> 미래
   </td>
  </tr>



  <tr>
   <td> 자기소개  </td>
   <td>
    <textarea cols = "60" rows = "10"></textarea>
   </td>
  </tr>
 </FORM>
</table>

<br/>


<input type = "submit" value = "가입하기"/>
<input type = "reset" value = "다시입력"/>


</center>
</body>



{% endblock%}

